<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.eclipse.rdf4j" level="WARN" additivity="true"/>
    <logger name="org.apache.jena" level="WARN" additivity="true"/>

    <root level="DEBUG">
        <appender-ref ref="stdout"/>
    </root>
</configuration>